# Pandas DatetimeIndex Functionality

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\Saurabh\\OneDrive\\Documents\\startup.csv')
df

       Date  R & D Spend  Marketing Spend    Profit
0  1/7/2019       123455          4433244    324234
1  1/7/2019      1245436         42343244    432423
2  1/7/2019     32435435          4332432   4324454
3  1/7/2019      3243534        324234234  56465567
4  1/7/2019       543455        534534234    565466
5  1/7/2019       543535           543454    765767
6  1/7/2019        53454           443243    677677
7  1/7/2019       455434           243243   6765767

In [3]:
df.dtypes

Date               object
R & D Spend         int64
Marketing Spend     int64
Profit              int64
dtype: object

In [4]:
type(df.Date[0])

str

In [5]:
df = pd.read_csv('C:\\Users\\Saurabh\\OneDrive\\Documents\\startup.csv', parse_dates = ['Date'])
df

        Date  R & D Spend  Marketing Spend    Profit
0 2019-01-07       123455          4433244    324234
1 2019-01-07      1245436         42343244    432423
2 2019-01-07     32435435          4332432   4324454
3 2019-01-07      3243534        324234234  56465567
4 2019-01-07       543455        534534234    565466
5 2019-01-07       543535           543454    765767
6 2019-01-07        53454           443243    677677
7 2019-01-07       455434           243243   6765767

In [6]:
df.dtypes

Date               datetime64[ns]
R & D Spend                 int64
Marketing Spend             int64
Profit                      int64
dtype: object

In [7]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp